{% extends "base.html" %}
{% block content %}

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Patient Information</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form action="#" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-12">
                            {{form.user.error}}
                            {{form.user.label}}
                            {{form.user}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.description_and_location.error}}
                            {{form.description_and_location.label}}
                            {{form.description_and_location}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.road_condition.error}}
                            {{form.road_condition.label}}
                            {{form.road_condition}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.anticipation_of_accident.error}}
                            {{form.anticipation_of_accident.label}}
                            {{form.anticipation_of_accident}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.time_of_the_day.error}}
                            {{form.time_of_the_day.label}}
                            {{form.time_of_the_day}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.patient_vehicle.error}}
                            {{form.patient_vehicle.label}}
                            {{form.patient_vehicle}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.patient_vehicle_speed.error}}
                            {{form.patient_vehicle_speed.label}}
                            {{form.patient_vehicle_speed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.other_vehicle.error}}
                            {{form.other_vehicle.label}}
                            {{form.other_vehicle}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.other_vehicle_speed.error}}
                            {{form.other_vehicle_speed.label}}
                            {{form.other_vehicle_speed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.collision_type.error}}
                            {{form.collision_type.label}}
                            {{form.collision_type}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.vehicle_towed.error}}
                            {{form.vehicle_towed.label}}
                            {{form.vehicle_towed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.impact_with_objects.error}}
                            {{form.impact_with_objects.label}}
                            {{form.impact_with_objects}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.exit_from_vehicle.error}}
                            {{form.exit_from_vehicle.label}}
                            {{form.exit_from_vehicle}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.loss_of_consciousness.error}}
                            {{form.loss_of_consciousness.label}}
                            {{form.loss_of_consciousness}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.safety_equipment.error}}
                            {{form.safety_equipment.label}}
                            {{form.safety_equipment}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.airbag_deployed.error}}
                            {{form.airbag_deployed.label}}
                            {{form.airbag_deployed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.driver.error}}
                            {{form.driver.label}}
                            {{form.driver}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.passengers.error}}
                            {{form.passengers.label}}
                            {{form.passengers}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.dominant_hand.error}}
                            {{form.dominant_hand.label}}
                            {{form.dominant_hand}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.body_part_collision.error}}
                            {{form.body_part_collision.label}}
                            {{form.body_part_collision}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}