{% extends "base.html" %}
{% block content %}

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>{% block title %}{% endblock title %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 text-right">
                        Patient Name: {{object.patient}}
                    </div>
                    <div class="col-sm-6 col-sm-offset-6 text-right">
                        Last Modified: {{object.last_modified}}
                    </div>
                </div>
                <br>
                <form action="{{request.path}}" method="post" accept-charset="utf-8">
                    {% csrf_token %}

                    {% block form_content %}
                    {% endblock form_content %}

                    <br>
                    <div class="pull-right">
                        <a href="{% url 'users:patient_profile' object.patient.user.pk %}" class="btn btn-default btn-color-border-solid">Back</a>
                        <input type="submit" class="btn btn-default btn-color-border-solid" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}