{% extends "base.html" %}
{% block content %}

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Health History</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form action="{{request.path}}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.user.error}}
                            {{form.user.label}}
                            {{form.user}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{form.today_date.error}}
                            {{form.today_date.label}}
                            {{form.today_date}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
	                          <label class="control-label">General</label><br>
	                        {% for checkbox in form.general %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %} 
                           
                            {{form.general.error}}
                       
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Muscle joint</label><br>
	                        {% for checkbox in form.muscle_joint %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
	                        
                            {{form.muscle_joint.error}}
                    
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Skin</label><br>
	                        {% for checkbox in form.skin %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
               		     
                            {{form.skin.error}}
                       
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Respiratory</label><br>
	                        {% for checkbox in form.respiratory %}
							<div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
							</div>
               		     {% endfor %}
	                        
                            {{form.respiratory.error}}
                      
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Gastrointestinal</label><br>
	                        {% for checkbox in form.gastrointestinal %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
	                        
                            {{form.gastrointestinal.error}}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Genitourinary</label><br>
	                        {% for checkbox in form.genitourinary %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
	                        
                            {{form.genitourinary.error}}
        
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	                        <label class="control-label">Cardiovascular</label><br>
	                        {% for checkbox in form.cardiovascular %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
	                        
                            {{form.cardiovascular.error}}
          
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
							 <label class="control-label">Women Only Choices</label><br>
	                        {% for checkbox in form.woemn_only_choices %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
               		     
                            {{form.woemn_only_choices.error}}
      
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	                     	 <label class="control-label">Menstrual Flow</label><br>
	                        {% for checkbox in form.menstrual_flow %}
							{{checkbox.tag}}
							{{checkbox.choice_label}}
               		     {% endfor %}
               		          
                            {{form.menstrual_flow.error}}
          
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
							<label class="control-label">Pregnant</label><br>
	                        {% for checkbox in form.pregnant %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
               		     
                            {{form.pregnant.error}}
                   
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
							<label class="control-label">Previous Conditions</label><br>
	                        {% for checkbox in form.previous_conditions %}
	                        <div class="checkbox">
					<label>
							{{checkbox.tag}}
							{{checkbox.choice_label}}
					</label>
	                        </div>
               		     {% endfor %}
               		     
                            {{form.previous_conditions.error}}
         
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-sm-12">
	              
               		     <div class="form-group">
	               		     
	               		     
                            {{form.cnd_disorders.error}}
                            {{form.cnd_disorders.label}}
                            {{form.cnd_disorders}}
               		     </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
	         
               		     <div class="form-group">
                            {{form.current_medications.error}}
                            {{form.current_medications.label}}
                            {{form.current_medications}}
               		     </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	   
               		     <div class="form-group">
                            {{form.previous_surgeries.error}}
                            {{form.previous_surgeries.label}}
                            {{form.previous_surgeries}}
               		     </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
						<div class="form-group">
               		     
                            {{form.smoker.error}}
                            {{form.smoker.label}}
                            {{form.smoker}}
						</div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
							<div class="form-group">
                            {{form.other_conditions.error}}
                            {{form.other_conditions.label}}
                            {{form.other_conditions}}
							</div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
	      
               		     <div class="form-group">
                            {{form.family_doctor.error}}
                            {{form.family_doctor.label}}
                            {{form.family_doctor}}
               		     </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-sm-12">
							<div class="form-group">
               		     
                            {{form.family_doctor_telephone.error}}
                            {{form.family_doctor_telephone.label}}
                            {{form.family_doctor_telephone}}
							</div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-default btn-color-border-solid" value="Save">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}