{% extends "base.html" %}
{% block content %}

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Patient Information</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
        <a href="{% url 'medical_forms:patient_info_edit' object.pk %}">edit</a>
        {{object}}
            </div>
        </div>
    </div>
</section>

{% endblock %}