{% extends "base.html" %}
{% block content %}

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>TMJ Screening</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form action="{{request.path}}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
	                <label class="control-label">Pain</label><br>
                    {% for checkbox in form.pain %}
                    <div class="checkbox">
					<label>
                    {{checkbox.tag}}
                    {{checkbox.choice_label}}
					</label>
                    </div>
                    {% endfor %}
                       
                        {{form.pain.error}}
               
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
	                    <label class="control-label">Symptoms</label><br>
                    {% for checkbox in form.symptom %}
                    <div class="checkbox">
					<label>
                    {{checkbox.tag}}
                    {{checkbox.choice_label}}
					</label>
                    </div>
                    {% endfor %}
                    
                        {{form.symptom.error}}
                 
	                    
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-sm-12">
	                    <div class="form-group">
		                   <label class="control-label">Signature</label><br>
                        {{form.signature.error}}
                        
                        {{form.signature}}
	                    </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default btn-color-border-solid" value="Save">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}