{% extends "base.html" %}

{% load humanize %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Notifications</h1>
    </div>
</div>
<!-- End Page Titles -->

<!-- Single Doctor-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul class="media-list">
                  {% if object_list %}
                    {% for notification in object_list %}
                        <li class="notification media list-group-item {% if not notification.read %}
                            unread
                        {% endif %}">
                            <div class="row">
                                <div class="col-sm-9 col-xs-12">
                                    <b>{{notification.subject}}</b> {{notification.action}}
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <p>{{notification.timestamp|naturaltime}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                  {% else %}
                  <li class="notification media list-group-item unread">
                    <div class="row">
                      <div class="col-sm-12 text-center">
                        <b>There is no notification.</b>
                      </div>
                    </div>

                  </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End News -->


{% endblock content %}
