{% extends "account/base.html" %}

{% load staticfiles i18n %}
{% load account %}

{% block content %}
<!-- Appointment -->
<section class="generic appointment bg-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h3>Sign In</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="ct-form clearfix">
          <h6>Welcome back</h6>
          <p>Pellentesque consequat consequat eros non tincidunt pellentesque vitae tempor massa morbi volutpat lorem non mattis morbi felis mauris, eu congue arcu molestie malesua </p>
          <form id="request" action="{% url 'users:account_login' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-12">
                    {% for error in form.login.errors %}
                      <span class="errorlist">{{error}}</span>
                    {% endfor %}
                  </div>
                  <label for="email" class="sr-only">Name</label>
                  {{form.login}}
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    {% for error in form.password.errors %}
                      <span class="errorlist">{{error}}</span>
                    {% endfor %}
                  </div>
                  <label for="password" class="sr-only">Password</label>
                  {{form.password}}
                </div>
              </div>
            </div>

            <div class="row">
             
                <div class="col-sm-12">
                  {% for error in form.non_field_errors %}
                        <span class="errorlist">{{error}}</span>
                  {% endfor %}
                  <div class="input-group appointment">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="...">
                  </span>
                  <p>Remember Password</p>
                </div>
                </div>
                
              
            </div>
            <input type="submit" class="btn btn-default btn-color-border-solid" value="Login">
            
            <div class="col-sm-12">
	            <p>Don't have an account?  Sign up <a href="{% url 'users:account_signup' %}">here</a>.</p>
            </div>
            
          </form>
        </div>
      </div>
      <div class="col-sm-7 hidden-xs">
        <figure class="animated fadeInUpBig" data-animation="fadeInUpBig" data-animation-delay="400">
          <img src="{% static 'img/person.png' %}" alt="//">
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- End Appointment -->

{% endblock %}

