{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<!-- Error 404 -->
    <section class="page-error generic text-center animated fadeInUp">
        <div class="container">
            <div class="page-error-content">
                <h1>404 Error</h1>
                <hr class="tall">
                <p class="lead">We're sorry, but the page you were looking for doesn't exist.</p>
                <a href="{% url 'home' %}" class="btn btn-color-border-solid">Return Home</a>
            </div>
        </div>
    </section>
<!-- End Error 404 -->
{% endblock content %}
