{% extends "medicalforms/form_base.html" %}
{% load static %}

{% block title %}
Accident History
{% endblock title %}

{% block form_content %}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.description_and_location.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Description and Location of the accident: </label>
        {{form.description_and_location}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.road_condition.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Condition of the road: </label>
        {{form.road_condition}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.anticipation_of_accident.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Anticipation of Accident?: </label>
        {{form.anticipation_of_accident}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.time_of_the_day.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Time of the day: </label>
        {{form.time_of_the_day}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.patient_vehicle.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Patient's vehicle: </label>
        {{form.patient_vehicle}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.patient_vehicle_speed.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Speed (km/hr): </label>
        {{form.patient_vehicle_speed}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.other_vehicle.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Other vehicle: </label>
        {{form.other_vehicle}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.other_vehicle_speed.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Speed (km/hr): </label>
        {{form.other_vehicle_speed}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.collision_type.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Collision type: </label>
        <div class="row">
            <div class="col-sm-3">
                <label class="radio-inline">{{form.collision_type.0.choice_label}}<br>
                {{form.collision_type.0.tag}} <img class="img-responsive" src="{% static 'img/car4.png' %}" alt="//" style="display:inline;"><img id="front-end-collision" class="img-responsive" src="{% static 'img/car3.png' %}" alt="//" style="display:inline; position:relative; left:50px;">
                </label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline">{{form.collision_type.1.choice_label}}<br>
                {{form.collision_type.1.tag}}<img id="side-end-collision" class="img-responsive" src="{% static 'img/car4.png' %}" alt="//" style="display:inline; position:relative;"><img class="img-responsive" src="{% static 'img/car1.png' %}" alt="//" style="display:inline; position:relative; left:50px;">

                </label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline">{{form.collision_type.2.choice_label}}<br>
                    {{form.collision_type.2.tag}}<img class="img-responsive" src="{% static 'img/car1.png' %}" alt="//" style="display:inline;"><img id="side-swipe-collision" class="img-responsive" src="{% static 'img/car1.png' %}" alt="//" style="display:inline; position:relative;">
                </label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline">{{form.collision_type.3.choice_label}}<br>
                {{form.collision_type.3.tag}}<img id="rear-end-collision" class="img-responsive" src="{% static 'img/car4.png' %}" alt="//" style="display:inline; position:relative;"><img class="img-responsive" src="{% static 'img/car4.png' %}" alt="//" style="display:inline; position:relative; left:50px;">
                </label>
            </div>

        </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.vehicle_towed.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Was the vehicle towed? </label>
        {{form.vehicle_towed}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.impact_with_objects.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Impact with other Objects: </label>
        {{form.impact_with_objects}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.impact_with_objects_detail.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group not-required">
        <label class="control-label">If yes, details: </label>
        {{form.impact_with_objects_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.exit_from_vehicle.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Exit from vehicle: </label>
        {{form.exit_from_vehicle}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.loss_of_consciousness.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Loss of consciousness: </label>
        {{form.loss_of_consciousness}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.safety_equipment.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Safety equipment (seatbelt): </label>
        {{form.safety_equipment}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            {% for error in form.airbag_deployed.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Air-bag deployed: </label>
        {{form.airbag_deployed}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.driver.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Were you the driver? </label>
        {{form.driver}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.passengers.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group not-required">
        <label class="control-label">Passengers? </label><br>
        {% for checkbox in form.passengers %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.dominant_hand.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
        <label class="control-label">Dominant Hand: </label>
        {{form.dominant_hand}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            {% for error in form.body_part_collision.errors %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group not-required">
        <label class="control-label">Did any part of your body collide with any objects? (check all that apply): </label>
        {% for checkbox in form.body_part_collision %}
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        {{checkbox.tag}}
                        {{checkbox.choice_label}}
                    </label>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<br>
<h5>Symptoms following accident: </h5>
<br>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
        {{form.headache.errors}}
        <label class="control-label">Headache </label>
        {{form.headache}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        {{form.dizziness.errors}}
        <label class="control-label">Dizziness </label>
        {{form.dizziness}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        {{form.chest_pain.errors}}
        <label class="control-label">Chest pain </label>
        {{form.chest_pain}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        {{form.nausea_voimit.errors}}
        <label class="control-label">Nausea / vomit </label>
        {{form.nausea_voimit}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.bleeding.errors}}
        <label class="control-label">Bleeding </label>
        {{form.bleeding}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.head_neck.errors}}
        <label class="control-label">Head / Neck </label>
        {{form.head_neck}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.back.errors}}
        <label class="control-label">Back </label>
        {{form.back}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.shoulders.errors}}
        <label class="control-label">Shoulders </label>
        {{form.shoulders}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.shoulders_which.errors}}
        <label class="control-label">Which side of shoulders? </label><br>
        {% for checkbox in form.shoulders_which %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.legs.errors}}
        <label class="control-label">Legs </label>
        {{form.legs}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.legs_which.errors}}
        <label class="control-label">Which side of legs? </label><br>
        {% for checkbox in form.legs_which %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.arms.errors}}
        <label class="control-label">Arms </label>
        {{form.arms}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.arms_which.errors}}
        <label class="control-label">Which side of arms? </label><br>
        {% for checkbox in form.arms_which %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group not-required">
        {{form.other.errors}}
        <label class="control-label">Other: </label>
        {{form.other}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group not-required">
        {{form.emergency_personnel.errors}}
        <label class="control-label">Emergency Personnel on Scene (check all that apply) </label><br>
        {% for checkbox in form.emergency_personnel %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.hospitalized.errors}}
        <label class="control-label">Hospitalized? </label>
        {{form.hospitalized}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.hospitalized_detail.errors}}
        <label class="control-label">If yes, detail? </label>
        {{form.hospitalized_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.transportation.errors}}
        <label class="control-label">Transporation: </label>
        {{form.transportation}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.examination_date.errors}}
        <label class="control-label">Date: </label>
        <i class="fa fa-calendar-o">{{form.examination_date}}</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.examination_type.errors}}
        <label class="control-label">Examinations </label><br>
        {% for checkbox in form.examination_type %}
            <label class="radio-inline">
                {{checkbox.tag}}
                {{checkbox.choice_label}}
            </label>
        {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group not-required">
        {{form.examination_other.errors}}
        <label class="control-label">Other: </label>
        {{form.examination_other}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.treatment.errors}}
        <label class="control-label">Treatment: </label>
        {{form.treatment}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.seen_doctor.errors}}
        <label class="control-label">Have you seen a doctor since the accident? </label>
        {{form.seen_doctor}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group not-required">
        {{form.doctor_name.errors}}
        <label class="control-label">Who: </label>
        {{form.doctor_name}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group not-required">
        {{form.doctor_date.errors}}
        <label class="control-label">Date: </label>
        <i class="fa fa-calendar-o">{{form.doctor_date}}</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.treatment_recommendation.errors}}
        <label class="control-label">Treatment / Recommendations </label>
        {{form.treatment_recommendation}}
        </div>
    </div>
</div>

{{form.non_field_errors}}

{% endblock form_content %}
