{% extends "medicalforms/form_base.html" %}

{% block title %}
Patient Information
{% endblock title %}

{% block form_content %}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.accident_date.error}}
        <label class="control-label">Date of Accident: </label>
        <i class="fa fa-calendar-o">{{form.accident_date}}</i>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.date_of_birth.error}}
        <label class="control-label">Date of Birth: </label>
        <i class="fa fa-calendar-o">{{form.date_of_birth}}</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.gender.error}}
        <label class="control-label">Gender: </label>
        {{form.gender}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
        {{form.address.error}}
        <label class="control-label">Address: </label>
        {{form.address}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.city.error}}
        <label class="control-label">City: </label>
        {{form.city}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.postal_code.error}}
        <label class="control-label">Postal Code: </label>
        {{form.postal_code}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        <label class="control-label">Email: </label><br>
        {{object.patient.user.email}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.first_language.error}}
        <label class="control-label">1st Language: </label>
        {{form.first_language}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
        {{form.home_phone.error}}
        <label class="control-label">Home Phone: </label>
        {{form.home_phone}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.mobile_phone.error}}
        <label class="control-label">Mobile Phone: </label>
        {{form.mobile_phone}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.work_phone.error}}
        <label class="control-label">Work Phone: </label>
        {{form.work_phone}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.occupation.error}}
        <label class="control-label">Occupation: </label>
        {{form.occupation}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
        {{form.modified_duties_availability.error}}
        <label class="control-label">Are Modified Duties Available? </label>
        {{form.modified_duties_availability}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.occupational_status.error}}
        <label class="control-label">Occupational Status: </label>
        {{form.occupational_status}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.job_requirements.error}}
        <label class="control-label">Job Requirements: </label>
        {{form.job_requirements}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.marital_status.error}}
        <label class="control-label">Marital Status: </label>
        {{form.marital_status}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.number_of_children.error}}
        <label class="control-label">Children #: </label>
        {{form.number_of_children}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.ages.error}}
        <label class="control-label">Age(s): </label>
        {{form.ages}}
        </div>
    </div>
</div>
In case of emergency, whom may we contact?
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
        {{form.emergency_contact_name.error}}
        <label class="control-label">Name: </label>
        {{form.emergency_contact_name}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.emergency_contact_phone.error}}
        <label class="control-label">Tel: </label>
        {{form.emergency_contact_phone}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
        {{form.emergency_contact_relationship.error}}
        <label class="control-label">Relationship: </label>
        {{form.emergency_contact_relationship}}
        </div>
    </div>
</div>

<br>
<h5>Current Symptoms</h5>

<div class="row">
  <div class="col-sm-12">
    <label class="control-label">Human Body Diagram</label><br>
    <p>Hover over the diagram to get the corresponding name of the region to be high-lighted in the checkbox list.
    Click on the corresponding region to mark.</p>
  </div>

  <div class="col-sm-4">
    <div class="body-diagram body-diagram-1">
      <div class="head{% if 1 in form.initial.pain %} chosen{% endif %}">
      </div>
      <div id="upper-extremities-1" {% if 5 in form.initial.pain %}class="chosen"{% endif %}></div>
      <div id="mid-section">
        <div class="neck neck-front{% if 2 in form.initial.pain %} chosen{% endif %}"></div>
        <div class="chest-abs{% if 3 in form.initial.pain %} chosen{% endif %}"></div>
        <div class="mid-space-front"></div>
        <div class="lower-extremities{% if 6 in form.initial.pain %} chosen{% endif %}"></div>
      </div>
      <div id="upper-extremities-2" {% if 5 in form.initial.pain %}class="chosen"{% endif %}></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="body-diagram body-diagram-2">
      <div class="head{% if 1 in form.initial.pain %} chosen{% endif %}">
      </div>
      <div id="upper-extremities-1" {% if 5 in form.initial.pain %}class="chosen"{% endif %}></div>
      <div id="mid-section">
        <div class="neck neck-back{% if 2 in form.initial.pain %} chosen{% endif %}"></div>
        <div class="lower-back{% if 4 in form.initial.pain %} chosen{% endif %}"></div>
        <div class="mid-space-back"></div>
        <div class="lower-extremities{% if 6 in form.initial.pain %} chosen{% endif %}"></div>
      </div>
      <div id="upper-extremities-2" {% if 5 in form.initial.pain %}class="chosen"{% endif %}></div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div id="head-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.0.tag}}
            {{form.pain.0.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.head_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.head_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.head_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="neck-upperback-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.1.tag}}
            {{form.pain.1.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.neck_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.neck_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.neck_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="chest-abs-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.2.tag}}
            {{form.pain.2.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.chest_abs_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.chest_abs_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.chest_abs_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="lower-back-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.3.tag}}
            {{form.pain.3.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.lower_back_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.lower_back_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.lower_back_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="upper-extremities-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.4.tag}}
            {{form.pain.4.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.upper_extremities_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.upper_extremities_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.upper_extremities_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="lower-extremities-checkbox" class="checkbox-list">
          <label class="title">
            {{form.pain.5.tag}}
            {{form.pain.5.choice_label}}
          </label>
          <div class="row pain-detail-row">
            <div class="col-sm-6">
              <div class="form-group">
                {{form.lower_extremities_pain_type.error}}
                <label class="control-label">Type of Pain</label>
                {{form.lower_extremities_pain_type}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group not-required">
                <label class="control-label">Intensity</label>
                {{form.lower_extremities_pain_level}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
Current complaint(s) and when they started - in order of importance
<br>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.current_complaint_1.error}}
        <label class="control-label">1) </label>
        {{form.current_complaint_1}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.current_complaint_2.error}}
        <label class="control-label">2) </label>
        {{form.current_complaint_2}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.current_complaint_3.error}}
        <label class="control-label">3) </label>
        {{form.current_complaint_3}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        {{form.current_complaint_4.error}}
        <label class="control-label">4) </label>
        {{form.current_complaint_4}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_injury.error}}
        <label class="control-label">Have you had any previous injuries before? </label>
        {{form.previous_injury}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_injury_detail.error}}
        <label class="control-label">If yes, when? </label>
        {{form.previous_injury_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_work_injury.error}}
        <label class="control-label">Have you had any previous work injuries? </label>
        {{form.previous_work_injury}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_work_injury_detail.error}}
        <label class="control-label">If yes, when? </label>
        {{form.previous_work_injury_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_sporting_injury.error}}
        <label class="control-label">Have you had any previous sporting injuries? </label>
        {{form.previous_sporting_injury}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_sporting_injury_detail.error}}
        <label class="control-label">If yes, when? </label>
        {{form.previous_sporting_injury_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_therapy.error}}
        <label class="control-label">Have you received any previous therapy? </label>
        {{form.previous_therapy}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_therapy_detail.error}}
        <label class="control-label">If yes, where? </label>
        {{form.previous_therapy_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.hospitalized.error}}
        <label class="control-label">Have you ever been hospitalized? </label>
        {{form.hospitalized}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.hospitalized_detail.error}}
        <label class="control-label">If yes, for what and when? </label>
        {{form.hospitalized_detail}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_test.error}}
        <label class="control-label">Havey you had any previous X-rays, MRI, or other tests? </label>
        {{form.previous_test}}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{form.previous_test_detail.error}}
        <label class="control-label">If yes, when? </label>
        {{form.previous_test_detail}}
        </div>
    </div>
</div>

{% endblock form_content %}

{% block javascript %}
{{block.super}}
<script>
  $(function() {
    // Checkbox or diagram hover
    $('.head, #head-checkbox').hover(function() {
      $('.head').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#head-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('.head').css('background', 'none');
      $('#head-checkbox').css('background', 'none');
    });

    $('.neck, #neck-upperback-checkbox').hover(function() {
      $('.neck').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#neck-upperback-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('.neck').css('background', 'none');
      $('#neck-upperback-checkbox').css('background', 'none');
    });

    $('#upper-extremities-1, #upper-extremities-2, #upper-extremities-checkbox').hover(function() {
      $('#upper-extremities-1, #upper-extremities-2').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#upper-extremities-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('#upper-extremities-1, #upper-extremities-2').css('background', 'none');
      $('#upper-extremities-checkbox').css('background', 'none');
    });

    $('.lower-back, #lower-back-checkbox').hover(function() {
      $('.lower-back').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#lower-back-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('.lower-back').css('background', 'none');
      $('#lower-back-checkbox').css('background', 'none');
    });

    $('.lower-extremities, #lower-extremities-checkbox').hover(function() {
      $('.lower-extremities').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#lower-extremities-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('.lower-extremities').css('background', 'none');
      $('#lower-extremities-checkbox').css('background', 'none');
    });

    $('.chest-abs, #chest-abs-checkbox').hover(function() {
      $('.chest-abs').css('background', 'rgba(0, 0, 0, 0.2)');
      $('#chest-abs-checkbox').css('background', 'rgba(0, 0, 0, 0.03)');
    }, function() {
      $('.chest-abs').css('background', 'none');
      $('#chest-abs-checkbox').css('background', 'none');
    });

    // Pain detail initially hidden or not
    $('.checkbox-list input:checkbox:not(:checked)').parent().siblings('.pain-detail-row').css('display', 'none');

    // Clicking diagram
    $('.head').click(function() {
      $('#head-checkbox input:checkbox').click();
    });

    $('.neck').click(function() {
      $('#neck-upperback-checkbox input:checkbox').click();
    });

    $('#upper-extremities-1, #upper-extremities-2').click(function() {
      $('#upper-extremities-checkbox input:checkbox').click();
    });

    $('.lower-back').click(function() {
      $('#lower-back-checkbox input:checkbox').click();
    });

    $('.lower-extremities').click(function() {
      $('#lower-extremities-checkbox input:checkbox').click();
    });

    $('.chest-abs').click(function() {
      $('#chest-abs-checkbox input:checkbox').click();
    });

    // Toggle .pain-detail-row
    $('#head-checkbox input:checkbox').click(function() {
      $('.head').toggleClass('chosen');
      $('#head-checkbox .pain-detail-row').slideToggle();
    });

    $('#neck-upperback-checkbox input:checkbox').click(function() {
      $('.neck').toggleClass('chosen');
      $('#neck-upperback-checkbox .pain-detail-row').slideToggle();
    });

    $('#upper-extremities-checkbox input:checkbox').click(function() {
      $('#upper-extremities-1, #upper-extremities-2').toggleClass('chosen');
      $('#upper-extremities-checkbox .pain-detail-row').slideToggle();
    });

    $('#lower-back-checkbox input:checkbox').click(function() {
      $('.lower-back').toggleClass('chosen');
      $('#lower-back-checkbox .pain-detail-row').slideToggle();
    });

    $('#lower-extremities-checkbox input:checkbox').click(function() {
      $('.lower-extremities').toggleClass('chosen');
      $('#lower-extremities-checkbox .pain-detail-row').slideToggle();
    });

    $('#chest-abs-checkbox input:checkbox').click(function() {
      $('.chest-abs').toggleClass('chosen');
      $('#chest-abs-checkbox .pain-detail-row').slideToggle();
    });

  });
</script>
{% endblock javascript %}
