{% extends "medicalforms/form_base.html" %}
{% load static %}

{% block title %}
TMJ Screening
{% endblock title %}

{% block form_content %}

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
           <label class="control-label">DOI:</label><br>
        {{form.doi.errors}}

        <i class="fa fa-calendar-o">{{form.doi}}</i>
        </div>
    </div>
</div>

<br>
<p>This questionnaire was designed to provide important facts regarding the history of your condition.  To assist in determining the source of any problem, please take your time and answer each question as completely and honestly as possible.  Please sign each page.</p>
<p><b>Note:</b> Please ensure that symptoms identified in the following questionnaire were not present before the MVA or have been greatly exacerbated after the MVA.</p>
<br>

<div class="row">
    <div class="col-sm-12">
    <label class="control-label">Pain:</label><br>
    {% for checkbox in form.pain %}
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          {{checkbox.tag}}
          {{checkbox.choice_label}}
        </label>
      </div>
    </div>
    {% endfor %}
    {{form.pain.errors}}

    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <label class="control-label">Symptoms:</label><br>
    {% for checkbox in form.symptom %}
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          {{checkbox.tag}}
          {{checkbox.choice_label}}
        </label>
      </div>
    </div>
    {% endfor %}
    {{form.symptom.errors}}


    </div>
</div>

<br>
<div class="row">
  <div class="col-sm-2">
      <img class="img-responsive" src="{% static 'img/pain-pattern-1.png' %}" alt="//">
  </div>
  <div class="col-sm-2">
      <img class="img-responsive" src="{% static 'img/pain-pattern-2.png' %}" alt="//">
  </div>
  <div class="col-sm-2">
      <img class="img-responsive" src="{% static 'img/pain-pattern-3.png' %}" alt="//">
  </div>
  <div class="col-sm-2">
      <img class="img-responsive" src="{% static 'img/pain-pattern-4.png' %}" alt="//">
  </div>
  <div class="col-sm-2">
      <img class="img-responsive" src="{% static 'img/pain-pattern-5.png' %}" alt="//">
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-2">
      {{form.pain_level_1}}
      {{form.pain_level_1.errors}}
      {{form.pain_description_1}}
      {{form.pain_description_1.errors}}
  </div>
  <div class="col-sm-2">
      {{form.pain_level_2}}
      {{form.pain_level_2.errors}}
      {{form.pain_description_2}}
      {{form.pain_description_2.errors}}
  </div>
  <div class="col-sm-2">
      {{form.pain_level_3}}
      {{form.pain_level_3.errors}}
      {{form.pain_description_3}}
      {{form.pain_description_3.errors}}
  </div>
  <div class="col-sm-2">
      {{form.pain_level_4}}
      {{form.pain_level_4.errors}}
      {{form.pain_description_4}}
      {{form.pain_description_4.errors}}
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <label for="">Rate your pain intensity (0 is NO PAIN and 10 is MOST SEVERE PAIN)</label><br>
        {% for button in form.pain_intensity %}
        <label class="radio-inline">
          {{button}}
        </label>
        {% endfor %}
        {{form.pain_intensity.errors}}
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
           <label class="control-label">Signature:</label><br>
        {{form.signature.error}}

        {{form.signature}}
        </div>
    </div>
</div>

{{form.non_field_errors}}

{% endblock form_content %}