{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Let food be thy medicine and medicine be the food.</h1>
        <div class="pagenation">Home <i>></i> Page <i>></i> <a href=".html">Doctor Profile Page</a></div>
    </div>
</div>
<!-- End Page Titles -->

<!-- Single Doctor-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Doctor Profile</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 hidden-xs">
                        <figure>
                            <img src="{% static 'img/doctors/doctor-01.jpg' %}" class="img-responsive" alt="">
                        </figure>
                    </div>
                    <div class="col-sm-7">
                        <div class="tag-text">
                            <h4>{{object.first_name}} {{object.last_name}}</h4>
                            <span></span>
                            <p>{{object.summary}}</p>
                        </div>
                        <h5 class="alternative-title">Doctor Statics</h5>
                        <div class="horizontal-bar">
                            <p>Cardiac Clinic</p>
                            <div class="content-bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                        <span>77%</span>
                                    </div>
                                </div>
                            </div>

                            <p>Pediatric Clinic</p>
                            <div class="content-bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                        <span>98%</span>
                                    </div>
                                </div>
                            </div>

                            <p>Dental Clinic</p>
                            <div class="content-bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                        <span>87%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="generic">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title">
                                <h3>Real Stats</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ct-stats">
                                <ul class="list-unstyled text-center">
                                    <li><div class="chart" data-percent="25">25%</div>
                                        <p>Medical <br> Availability</p>
                                    </li>
                                    <li><div class="chart-2" data-percent="50">50%</div>
                                        <p>Dentist <br> Availability</p>
                                    </li>

                                    <li><div class="chart-3" data-percent="75">75%</div>
                                        <p>Cardio <br> Availability</p>
                                    </li>
                                    <li><div class="chart-4" data-percent="91">91%</div>
                                        <p>Pediatrics <br> Availability</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="generic">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title">
                                <h3>Testimonials</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="test-content">
                                <h2>“Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud and rcitation ullamco laboris nisi ut aliqui"</h2>
                                <figure>
                                    <img class="img-circle" src="img/doctors/doc01.jpg" alt="">
                                </figure>
                                <p><span>Maria Vann</span>Doctor since 1999</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="test-content">
                                <h2>“Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud and rcitation ullamco laboris nisi ut aliqui"</h2>
                                <figure>
                                    <img class="img-circle" src="img/doctors/doc02.jpg" alt="">
                                </figure>
                                <p><span>Maria Vann</span>Doctor since 1999</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="generic">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title">
                                <h3>Specialities</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <blockquote class="succefull">
                                <h4>Extra Information</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur officiis nobis illo dicta recusandae voluptatum corporis, dolores!</p>
                            </blockquote>
                            <blockquote class="info">
                                <h4>Extra Information</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur officiis nobis illo dicta recusandae voluptatum corporis, dolores!</p>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="sidebar sidebar-right">

                    <h5 class="sidebar-title">Departments</h5>
                    <ul class="departments">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Cardilogy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Dentistry</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Dermatology</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Diagnostic</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Emergency Services</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Endocrinology</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Infectious Diseases</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Obstetrics and Gynecology</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Oncology</a></li>
                    </ul>

                    <h5 class="sidebar-title">Our Mission</h5>
                    <div class="panel-group" id="accordion-work2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
                                        <i class="fa fa-plus-square"></i>The Health Center Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, possimus officiis eos dolorum aperiam temporibus est aut similique vitae hic qui.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseIntegrity" class="">
                                        <i class="fa fa-plus-square"></i>The Doctor Values
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseIntegrity" class="panel-collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseBest" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Company History
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBest" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="sidebar-title">Tags</h5>
                    <ul class="tags">
                        <li><a href="#">Medical</a></li>
                        <li><a href="#">Pediatric clinic</a></li>
                        <li><a href="#">Laryngological</a></li>
                        <li><a href="#">Dental clinic</a></li>
                        <li><a href="#">Primary health</a></li>
                        <li><a href="#">Second health</a></li>
                        <li><a href="#">Medical</a></li>
                        <li><a href="#">Pediatric clinic</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End News -->

<!-- Newsletter -->
<section class="generic newsletter bg-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6>Newsletter Subscription</h6>
                <form id="newsletter" class="input-group" action="newsletter.php" method="post" accept-charset="utf-8" role="form">
                    <input type="email" class="form-control" placeholder="Enter a valid E-mail">
                    <button type="submit" class="btn btn-send" data-loading-text="Sending...">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter -->


{% endblock content %}