{% extends "base.html" %}
{% load static %}
{% load has_group %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Profile</h1>
        <div class="pagenation"><a href="{% url 'home' %}">Home</a> <i>></i> Profile Page</div>
    </div>
</div>
<!-- End Page Titles -->

<!-- Single Doctor-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
      <div class="row">
	      <div class="col-sm-12 text-right">

	      </div>
      </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Doctor Profile</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    {% if authorized %}
                    <li class="active"><a href="#upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
                    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
                    {% else %}
                    <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
                    {% endif %}
                    {% if authorized %}
                    <li><a href="#schedule" role="tab" data-toggle="tab">Schedule</a></li>
                    <li><a href="#patients" role="tab" data-toggle="tab">Patients</a></li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    {% if authorized %}
                    <!-- Upcoming appointments -->
                    <div class="tab-pane fade in active" id="upcoming">
                        <ul class="media-list">
                            {% for booking in bookings %}
                            <li class="media">
                                <a class="pull-left" href="{% url 'users:patient_profile' booking.patient.user_id %}">
                                {% if booking.patient.user.image %}
                                <img class="media-object img-circle" src="{{booking.patient.user.image.url}}" alt="//">
                                {% else %}
                                <img class="media-object img-circle" src="{% static 'img/news/news-thumbnail-144x144-01.jpg' %}" alt="//">
                                {% endif %}
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading"><a href="{% url 'users:patient_profile' booking.patient.user_id %}">{{booking.patient}}</a></h5>
                                    <p class="media-meta">{{booking.time|time:"h:i A"}} -- {{booking.time|date:"M j"}} {{booking.time|date:"D"}}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Upcoming appointments end -->
                    {% endif %}

                    <!-- Doctor profile -->
                    <div class={% if authorized %}
                    "tab-pane fade"
                    {% else %}
                    "tab-pane fade in active"
                    {% endif %} id="profile">
                        <div class="row">
                            <div class="col-sm-5">
                                <figure>
                                    {% if object.image %}
                                    <img src="{{object.image.url}}" class="img-responsive" alt="">
                                    {% else %}
                                    <img src="{% static 'img/doctor-profile-img.png' %}" class="img-responsive" alt="">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="col-sm-7">
                                <div class="tag-text">
                                    <h4>{{object.first_name}} {{object.last_name}}</h4>
                                    <span></span>
                                    {% if object.summary %}
                                        <p>{{object.summary}}</p>
                                    {% elif authorized %}
                                        <p><a href="{% url 'users:doctor_profile_edit' object.pk %}">Please add summary</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-right">
                                {% if authorized %}
                                    <a href="{% url 'users:doctor_profile_edit' object.pk %}" class="btn btn-default btn-hover-bg"><span>Edit Profile</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Doctor profile end -->

                    {% if authorized %}
                    <!-- Doctor's schedule -->
                    <div class="tab-pane fade timetable" id="schedule">
                        <div class="timetable-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="blue-extralight">Time</th>
                                        {% for day in table.0 %}
                                            <th class="blue-light">{{day.0|date:"M j"}}<br>{{day.0|date:"D"}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for row in table %}
                                    <tr>
                                        <th>{{row.0.0|time:"h:i A"}}</th>
                                        {% for element in row %}
                                            {% if element.1 == -1 %}
                                                <td><a class="ct-blue" href="#" title="Clinic is closed at this time."></a></td>
                                            {% elif element.1 %}
                                                <td><a href="{% url 'users:patient_profile' user_id=element.1.pk %}">{{element.1.first_name}} {{element.1.last_name}}</a></td>
                                            {% else %}
                                                <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <!-- Doctor's schedule end -->

                    <!-- Patients -->
                    <div class="tab-pane fade" id="patients">
                        <div class="panel-body">
                            <ul class="media-list">
                            {% for patient in patients %}
                                <li class="media">
                                    <a class="pull-left" href="{% url 'users:patient_profile' patient.user.pk %}">
                                        {% if patient.user.image %}
                                            <img class="media-object img-circle" src="{{patient.user.image.url}}" alt="//">
                                        {% else %}
                                            <img class="media-object img-circle" src="{% static 'img/news/news-thumbnail-144x144-01.jpg' %}" alt="//">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading"><a href="{% url 'users:patient_profile' patient.user.pk %}">{{patient.user.first_name}} {{patient.user.last_name}}</a></h5>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Patients end -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End News -->


{% endblock content %}