{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Doctor Profile</h1>
        <div class="pagenation"><a href="{% url 'home' %}">Home</a> <i>></i> Doctor Profile Page</div>
    </div>
</div>
<!-- End Page Titles -->

<!-- Single Doctor-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
      <div class="row">
	      <div class="col-sm-12 text-right">
            {% if object.pk == request.user.pk %}
                <a href="{% url 'users:doctor_profile_edit' %}" class="btn btn-default btn-hover-bg"><span>Edit Profile</span></a>
            {% endif %}
	      </div>
      </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Doctor Profile</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 hidden-xs">
                        <figure>
                            <img src="{% static 'img/doctor-profile-img.png' %}" class="img-responsive" alt="">
                        </figure>
                    </div>
                    <div class="col-sm-7">
                        <div class="tag-text">
                            <h4>{{object.first_name}} {{object.last_name}}</h4>
                            <span></span>
                            <p>{{object.summary}}</p>
                        </div>

                    </div>
                </div>




            </div>

            <div class="col-md-3">
                <div class="sidebar sidebar-right">


                    <h5 class="sidebar-title">Our Mission</h5>
                    <div class="panel-group" id="accordion-work2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
                                        <i class="fa fa-plus-square"></i>The Health Center Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, possimus officiis eos dolorum aperiam temporibus est aut similique vitae hic qui.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseIntegrity" class="">
                                        <i class="fa fa-plus-square"></i>The Doctor Values
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseIntegrity" class="panel-collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseBest" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Company History
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBest" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
<!-- End News -->


{% endblock content %}