{% load static %}

<!-- Need variables bookings, table, patients -->

<ul class="nav nav-tabs" role="tablist">
    <li><a href="#upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
    <li><a href="#schedule" role="tab" data-toggle="tab">Schedule</a></li>
    <li><a href="#patients" role="tab" data-toggle="tab">Patients</a></li>
</ul>

<div class="tab-content">
    <!-- Upcoming appointments -->
    <div class="tab-pane fade in active" id="upcoming">
        <ul class="media-list">
            {% for booking in bookings %}
            <li class="media">
                <a href="{% url 'medical_appointments:appointment_info' booking.pk %}">
                    <figure class="pull-left">
                        {% if booking.patient.user.image %}
                        <img class="media-object img-circle" src="{{booking.patient.user.image.url}}" alt="//">
                        {% else %}
                        <img class="media-object img-circle" src="{% static 'img/profile-img.png' %}" alt="//">
                        {% endif %}
                    </figure>

                    <div class="media-body">
                        <h5 class="media-heading">{{booking.patient}}</h5>
                        <p class="media-meta">{{booking.time|time:"h:i A"}} -- {{booking.time|date:"M j"}} {{booking.time|date:"D"}}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
            {% if not bookings %}
            <p>There is no upcoming appointments</p>
            {% endif %}
        </ul>
    </div>
    <!-- Upcoming appointments end -->

    <!-- Doctor's schedule -->
    <div class="tab-pane fade timetable" id="schedule">
        {% include "medicalappointments/timetable_doctor.html" with table=table %}
    </div>
    <!-- Doctor's schedule end -->

    <!-- Patients -->
    <div class="tab-pane fade" id="patients">
        <ul class="media-list">
        {% if patients %}
            {% for patient in patients %}
                <li class="media">
                    <a class="pull-left" href="{% url 'users:patient_profile' patient.user.pk %}">
                        {% if patient.user.image %}
                            <img class="media-object img-circle" src="{{patient.user.image.url}}" alt="//">
                        {% else %}
                            <img class="media-object img-circle" src="{% static 'img/profile-img.png' %}" alt="//">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading"><a href="{% url 'users:patient_profile' patient.user.pk %}">{{patient.user.first_name}} {{patient.user.last_name}}</a></h5>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <p>Currently there is no patient</p>
        {% endif %}
        </ul>
    </div>
    <!-- Patients end -->
</div>