{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Admin main -->
<section class="generic">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Welcome</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-0 col-md-2"></div>
            <div class="col-sm-6 col-md-4">
                <a href="#" class="featured-item ct-icon">
                    <figure>
                        <img class="img-responsive" src="{% static 'img/features/featured-1.jpg' %}" alt="//">
                        <div class="icon-image"><span class="glyphicon glyphicon-picture" aria-hidden = "true"></span></div>
                    </figure>
                    <div class="content text-center">
                        <h4>Manage Doctors</h4>

                    </div>

                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#" class="featured-item ct-icon">
                    <figure>
                        <img class="img-responsive" src="{% static 'img/features/featured-2.jpg' %}" alt="//">
                        <div class="icon-image"><span class="glyphicon glyphicon-picture"></span></div>
                    </figure>
                    <div class="content text-center">
                        <h4>Manage Clinics</h4>

                    </div>

                </a>
            </div>
            <div class="col-sm-0 col-md-2"></div>
        </div>
    </div>
</section>
<!-- End admin main -->
{% endblock content %}