{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Let food be thy medicine and medicine be the food.</h1>
        <div class="pagenation">Home <i>></i> Page <i>></i> <a href=".html">Doctor Profile Page</a></div>
    </div>
</div>
<!-- End Page Titles -->

<!-- Single Patient-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Patient Profile</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 hidden-xs">
                        <figure>
                            <img src="{% static 'img/doctors/doctor-01.jpg' %}" class="img-responsive" alt="">
                        </figure>
                    </div>
                    <div class="col-sm-7">
                        <div class="tag-text">
                            <h4>{{object.first_name}} {{object.last_name}}</h4>
                            <span></span>
                            {% if object.summary %}
                                <p>{{object.summary}}</p>
                            {% else %}
                                <p>Please add summary from <a href="{% url 'users:user_settings' %}">settings</a></p>
                            {% endif %}
                        </div>
                        <h5 class="alternative-title">Patient Information</h5>
                        <a href="{% url 'medical_forms:patient_info' object.pk %}" class="btn btn-default btn-hover-bg"><span>View</span></a>
                        <h5 class="alternative-title">Health History</h5>
                        <a href="{% url 'medical_forms:health_history' %}" class="btn btn-default btn-hover-bg"><span>View</span></a>
                        <h5 class="alternative-title">Subjective Evaluation</h5>
                        <a href="{% url 'medical_forms:subjective_eval' %}" class="btn btn-default btn-hover-bg"><span>View</span></a>
                        <h5 class="alternative-title">Accident History</h5>
                        <a href="{% url 'medical_forms:accident_history' %}" class="btn btn-default btn-hover-bg"><span>View</span></a>
                        <h5 class="alternative-title">Form 5</h5>
                        <a href="#" class="btn btn-default btn-hover-bg"><span>View</span></a>
                        <h5 class="alternative-title">Form 6</h5>
                        <a href="#" class="btn btn-default btn-hover-bg"><span>View</span></a>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="sidebar sidebar-right">

                    <h5 class="sidebar-title">Latest Visits</h5>
                    <ul class="departments">
                        <li><a href="patient-visit.html"><i class="fa fa-angle-right"></i> September 27th, 2015</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> October 12, 2015</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> October 20th, 2015</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> October 27th, 2015</a></li>
                    </ul>

                    <h5 class="sidebar-title">Medication</h5>
                    <div class="panel-group" id="accordion-work2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Effexor
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, possimus officiis eos dolorum aperiam temporibus est aut similique vitae hic qui.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseIntegrity" class="">
                                        <i class="fa fa-plus-square"></i>Serequel
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseIntegrity" class="panel-collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- End News -->

<!-- Newsletter -->
<section class="generic newsletter bg-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6>Newsletter Subscription</h6>
                <form id="newsletter" class="input-group" action="newsletter.php" method="post" accept-charset="utf-8" role="form">
                    <input type="email" class="form-control" placeholder="Enter a valid E-mail">
                    <button type="submit" class="btn btn-send" data-loading-text="Sending...">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter -->

{% endblock content %}