{% load static %}
{% load has_group %}

<!-- Need variable object and authorized -->

<div class="row">
    <div class="col-sm-3">
        <figure>
            {% if object.image %}
            <img src="{{object.image.url}}" class="img-responsive" alt="">
            {% elif object|has_group:"Doctors" %}
            <img src="{% static 'img/doctor-profile-img.png' %}" class="img-responsive" alt="">
            {% elif object|has_group:"Patients" %}
            <img src="{% static 'img/profile-img.png' %}" class="img-responsive" alt="">
            {% elif object|has_group:"Clinics" %}
            <img src="{% static 'img/profile-img.png' %}" class="img-responsive" alt="">
            {% endif %}
        </figure>
        <br>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-12 col-sm-8 tag-text add-margin-bottom">
                <h4 style="display: inline-block; margin-right: 5px">{{object.first_name}} {{object.last_name}}</h4>
                {% if authorized %}
                <span class="edit-icon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-pencil"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'users:profile_edit' object.pk %}">Edit Profile</a></li>
                        <li><a href="{% url 'users:settings' object.pk %}">Edit Settings</a></li>
                    </ul>
                </span>
                {% endif %}
                <br>
                <span>{% if doctor.specialty %}
                {{doctor.specialty}}
                {% endif %}</span>
            </div>
        </div>
        <div class="tag-text">
            <h5 class="alternative-title">Summary</h5>
            <p>
            {% if object.summary %}
                {{object.summary}}
            {% elif authorized %}
                <a href="{% url 'users:profile_edit' object.pk %}">Please add summary</a>
            {% else %}
                This user has not provided a summary
            {% endif %}
            </p>

            <h5 class="alternative-title">Contact</h5>
            <p>
            {% if object.contact %}
                Phone: {{object.contact}}
            {% elif authorized %}
                <a href="{% url 'users:profile_edit' object.pk %}">Please add phone number</a>
            {% else %}
                This user has not provided a phone number
            {% endif %}
            </p>
            <p>
            Email: {{object.email}}
            </p>

            {% if patient %}
            <h5 class="alternative-title">Medications</h5>
            <p>
              Past Medications: 
              {% if not patient.past_medications %}N/A{% endif %}
              {{patient.past_medications}}
            </p>
            <p>
              Current Medications:
              {% if not patient.current_medications %}N/A{% endif %}
              {{patient.past_medications}}
            </p>

            <h5 class="alternative-title">Transportation Need</h5>
            <p>
              {{patient.transportation_need}}
            </p>
            {% endif %}
        </div>
    </div>
</div>
