{% extends "base.html" %}
{% load static %}
{% load has_group %}

{% block content %}

<!-- Single Doctor-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Edit Profile</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <form id="request" action="{{request.path}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-sm-3 text-center">
                            <div id="image-cropper">
                                <!-- The preview container is needed for background image to work -->
                                <div class="cropit-image-preview"></div>

                                <p class="cropit-description">Drag image to crop</p>

                                <!-- The actual file input will be hidden -->
                                <input id="id_image" type="file" class="cropit-image-input" accept="image/*">

                                <div class="slider-wrapper"><span class="glyphicon glyphicon-picture small"></span><input type="range" class="cropit-image-zoom-input" min="0" max="1" step="0.01"><span class="glyphicon glyphicon-picture large"></span></div>

                                <div class="select-image-btn btn btn-default btn-color-bg btn-no-radius btn-file">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    <span>Change Photo</span>
                                </div>

                                <button type="button" title="Clear selected files" class="btn btn-default fileinput-remove-button"><i class="glyphicon glyphicon-trash"></i> <span class="">Remove</span></button>

                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.user_settings.first_name.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>First Name</label>
                                        {{forms.user_settings.first_name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.user_settings.last_name.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Last Name</label>
                                        {{forms.user_settings.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.user_settings.summary.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>About Me</label>
                                        {{forms.user_settings.summary}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.user_settings.contact.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Contact Number</label>
                                        {{forms.user_settings.contact}}
                                    </div>
                                </div>
                            </div>
                            {% if forms.patient_settings %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.height.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Height (in cm)</label>
                                        {{forms.patient_settings.height}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.weight.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Weight (in kg)</label>
                                        {{forms.patient_settings.weight}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.transportation_need.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Transportation Need</label>
                                        {{forms.patient_settings.transportation_need}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.smoking.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Smoking</label>
                                        {{forms.patient_settings.smoking}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.alcohol.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Alcohol</label>
                                        {{forms.patient_settings.alcohol}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.past_medications.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Past Medications</label>
                                        {{forms.patient_settings.past_medications}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.current_medications.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Current Medications</label>
                                        {{forms.patient_settings.current_medications}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% for error in forms.patient_settings.marijuana.errors %}
                                              <span class="errorlist">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        <label>Marijuana</label>
                                        {{forms.patient_settings.marijuana}}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <div id="save" class="btn btn-default btn-color-bg btn-no-radius">Save</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-sm-3">

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- End News -->


{% endblock content %}

{% block javascript %}

{{block.super}}

<script src="{% static 'js/cropit/dist/jquery.cropit.js' %}"></script>

<script>
    /* $("#id_image").addClass('file-loading');
    $("#id_image").fileinput({
        browseClass: "btn btn-default btn-color-bg btn-no-radius",
        browseLabel: "Change Photo",
        buttonLabelClass: "",
        showPreview: false,
        showCaption: false,
        showUpload: false,
        showUploadedThumbs: false
    });
    $('#id_image').on('fileloaded', function(event, file, previewId, index, reader) {
        $('#preview').attr('src', URL.createObjectURL(file));
    });
    $('#id_image').on('fileclear', function(event) {
        {% if user|has_group:"Patients" %}
            $('#preview').attr('src', "{% static 'img/profile-img.png' %}");
        {% elif user|has_group:"Doctors" %}
            $('#preview').attr('src', "{% static 'img/doctor-profile-img.png' %}");
        {% endif %}
    }); */

    $(document).ready(function() {
        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type:mimeString});
        }

        var previewHeight = $('#image-cropper').width();

        $("#id_image").addClass('cropit-image-input');

        var imageSrc;
        var defaultImageSrc

        {% if user|has_group:"Patients" %}
        defaultImageSrc = "{% static 'img/profile-img.png' %}"
        {% elif user|has_group:"Doctors" %}
        defaultImageSrc = "{% static 'img/doctor-profile-img.png' %}"
        {% elif user|has_group:"Clinics" %}
        defaultImageSrc = "{% static 'img/clinic.png' %}"
        {% endif %}

        {% if user.image %}
        imageSrc = "{{user.image.url}}"
        {% else %}
        imageSrc = defaultImageSrc
        {% endif %}

        $('#image-cropper').cropit({
            height: previewHeight,
            imageState: { src: imageSrc }
        });

        $('.select-image-btn').click(function() {
            $('.cropit-image-input').click();
        });

        var inputDOM = document.getElementById("id_image");
        $('.fileinput-remove-button').click(function() {
            $('#image-cropper').cropit('imageSrc', defaultImageSrc);
            inputDOM.value = "";
        })

        $('#save').click(function() {
            var dataURI = $('#image-cropper').cropit('export', {
              type: 'image/jpeg',
              quality: 1,
              originalSize: true
            });

            var blob = dataURItoBlob(dataURI);

            var formData = new FormData(document.forms[0]);
            formData.append("image", blob);

            $.ajax({
                url: '{{request.path}}',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    var redirectUrl;

                    {% if user|has_group:"Patients" %}
                    redirectUrl = "{% url 'users:patient_profile' user.pk %}"
                    {% elif user|has_group:"Doctors" %}
                    redirectUrl = "{% url 'users:doctor_profile' user.pk %}"
                    {% elif user|has_group:"Clinics" %}
                    redirectUrl = "{% url 'medical_appointments:clinic_profile' user.pk %}"
                    {% endif %}

                    window.location.replace(redirectUrl);
                }
            });
        });
    });
</script>

{% endblock javascript %}
