{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Upcoming Appointments</h3>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{% url 'medical_appointments:new_appointments' %}" class="btn btn-default btn-color-shadow"><span>Make a New Appointment</span></a>
            </div>
        </div>

        <div class="row">
            <div class="well">
                <div class="list-group">
                {% if object_list %}
                    {% for appointment in object_list %}
                        <div class="row list-group-item">
                            <div class="col-md-2">
                                {% if appointment.clinic.user.image %}
                                    <img src="{{appointment.clinic.user.image.url}}" alt="//" class="img-responsive">
                                {% else %}
                                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive">
                                {% endif %}
                             </div>
                            <div class="col-md-5">
                                <p>{{appointment.clinic.address}}, {{appointment.clinic.city}}
                                <br>{{appointment.clinic.postal_code}}</p>
                            </div>
                            <div class="col-md-3">
                                {{appointment.time|time:"h:i A"}} -- {{appointment.time|date:"M j"}} {{appointment.time|date:"D"}}
                            </div>
                            <div class="col-md-2">
                                <p>Your doctor</p>
                                {% if appointment.doctor.user.image %}
                                    <img src="{{appointment.doctor.user.image.url}}" alt="//" class="img-responsive img-circle" style="max-width:50px;height:auto;">
                                {% else %}
                                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive img-circle" style="max-width:50px;height:auto;">
                                {% endif %}
                                <p>{{appointment.doctor}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <a href="{% url 'medical_appointments:new_appointments' %}" class="list-group-item">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>You have no appointments.</p>
                                <p>Click here to make an appointment!</p>
                            </div>

                        </div><!-- ./row -->
                    </a><!-- ./list-group-item -->
                {% endif %}
        </div>
            </div>
        </div>

    </div>
</div>
    </div>
</section>

{% endblock content %}