{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Upcoming Appointments</h3>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="#" class="btn btn-default btn-color-shadow"><span>Make a New Appointment</span></a>
            </div>
        </div>

        <div class="row">
            <div class="well">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive">
                 </div>
                <div class="col-md-5">
                    <p>Address of the location goes here</p>
                </div>
                <div class="col-md-3">
                    11:34 AM
                </div>
                <div class="col-md-2">
                    <p>Your doctor</p>
                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive">
                    <p>Dr.Vo</p>
                </div>

            </div><!-- ./row -->
          </a><!-- ./list-group-item -->
            <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive">
                 </div>
                <div class="col-md-5">
                    <p>Address of the location goes here</p>
                </div>
                <div class="col-md-3">
                    11:34 AM
                </div>
                <div class="col-md-2">
                    <p>Your doctor</p>
                    <img src="{% static 'img/news/news-thumbnail-144x144-02.jpg' %}" alt="//" class="img-responsive">
                    <p>Dr.Vo</p>
                </div>

            </div><!-- ./row -->
          </a><!-- ./list-group-item -->

            <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>You have no appointments.</p>
                    <p>Click here to make an appointment!</p>
                </div>

            </div><!-- ./row -->
          </a><!-- ./list-group-item -->

        </div>
            </div>
        </div>

    </div>
</div>
    </div>
</section>

<p>Goes to this page when the user clicks "create new appointment</p>

<section class="gallery generic animated fadeInUp undefined visible">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Tell Us What You Need</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="filters">
                    <li><a href="#" class="btn btn-color-border-solid-3">Chiropractor</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3">Massage Therapist</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3">Physiotherapist</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3">Chiropodist</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3">Nutritionist</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>


<p>goes to this page after the user clicks the type of doctor they want.  css and js for this page should match the ones used in gallery.js</p>

<!-- Gallery -->
<section class="gallery generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Choose the location you want</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="filters">
                    <li><a href="#" class="btn btn-color-border-solid-3 active" data-filter="*">Show All</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3" data-filter=".plan1">Toronto</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3" data-filter=".plan2">Mississauga</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3" data-filter=".plan3">Brampton</a></li>
                    <li><a href="#" class="btn btn-color-border-solid-3" data-filter=".plan4">Milton</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="gallery-grid">
                    <div class="gallery-grid-item plan1 plan4">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-1.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan1">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-2.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan2">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-3.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan3">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-4.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan3 plan4">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-5.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan2">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-6.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan1">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-8.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan2">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-7.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan3 plan4">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-1.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan2">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-2.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan3">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-3.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="gallery-grid-item plan2 plan4">
                        <figure class="effect-chico">
                            <img src="img/gallery/gallery-4.jpg" alt="">
                            <figcaption>
                            <h4>Medical Center</h4>
                            <p>Healt Care</p>
                            <a href="#"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Gallery -->

<p>After they choose a clinic, you should take them to timetable.html</p>

{% endblock content %}