{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Create Clinic</h1>
        <div class="pagenation"><a href="{% url 'home' %}">Home</a> <i>></i> Create Clinic</div>
    </div>
</div>
<!-- End Page Titles -->

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>General Info</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <figure>
                            <img src="{% static 'img/clinic.png' %}" class="img-responsive" alt="">
                        </figure>
                        <a href="#" class="btn btn-default btn-color-bg btn-no-radius"><span>Change Photo</span></a>
                    </div>
                    <div class="col-sm-9">
                        <form id="request" action="{{request.path}}" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in form.name.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="name" class="sr-only">Name</label>
                                        {{form.name}}
                                    </div>
                                    <div class="form-group">
                                        {% for error in form.phone.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="phone" class="sr-only">Phone number</label>
                                        {{form.phone}}
                                    </div>
                                    <div class="form-group">
                                        {% for error in form.email.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="email" class="sr-only">Email</label>
                                        {{form.email}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in form.description.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="description" class="sr-only">Description</label>
                                        <i class="glyphicon glyphicon-pencil">{{form.description}}</i>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="section-title">
                                        <h3>Address </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% for error in form.address.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="address1" class="sr-only">Address 1</label>
                                        {{form.address}}
                                    </div>
                                    <div class="form-group">
                                        {% for error in form.city.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="postal" class="sr-only">City</label>
                                        {{form.city}}
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% for error in form.postal_code.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="postal" class="sr-only">Postal Code</label>
                                        {{form.postal_code}}
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="section-title">
                                        <h3>Hours</h3>
                                    </div>
                                </div>
                            </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>Monday</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_mon}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_mon}}
                                                </div>
                                            </div>
                                        </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>TUESDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_tue}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_tue}}
                                                </div>
                                            </div>
                                        </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>WEDNESDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_wed}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_wed}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>THURSDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_thurs}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_thurs}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>FRIDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_fri}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_fri}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>SATURDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_sat}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_sat}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>SUNDAY</h6></div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {% for error in form.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{form.start_time_sun}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                {% for error in form.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{form.end_time_sun}}
                                                </div>
                                            </div>
                                        </div>
                                        {{form.non_field_errors}}

                            <br><hr><br>
                            <input type="submit" class="btn btn-default btn-color-border-solid" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}