{% extends "base.html" %}

{% load static %}
{% load has_group %}

{% block content %}

<!-- Clinic Profile-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Clinic Profile</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include "users/profile_base.html" with object=object %}

                <div class="row">
                    <div class="col-sm-9">
                        <br>
                        <br>

                        <!-- Clinic tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#doctors" role="tab" data-toggle="tab">Doctors</a></li>
                            <li><a href="#patients" role="tab" data-toggle="tab">Current Patients</a></li>
                        </ul>

                        <div class="tab-content">
                            <!-- Doctors -->
                            <div class="tab-pane fade in active" id="doctors">
                                <ul class="media-list">
                                    {% for doctor in object.clinic_set.get.doctor_set.all %}

                                        <li class="media">
                                            <a class="pull-left" href="{% url 'users:doctor_profile' doctor.user.pk %}">
                                                {% if doctor.user.image %}
                                                    <img class="media-object img-circle" src="{{doctor.user.image.url}}" alt="//">
                                                {% else %}
                                                    <img class="media-object img-circle" src="{% static 'img/doctor-profile-img.png' %}" alt="//">
                                                {% endif %}
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading"><a href="{% url 'users:doctor_profile' doctor.user.pk %}">{{doctor.user.first_name}} {{doctor.user.last_name}}</a></h5>
                                                <p class="media-meta">{{doctor.specialty}}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <center><a href="{% url 'medical_appointments:add_doctor' object.pk %}" class="btn btn-default btn-color-bg-dark-icon"><span>Add Doctor</span></a></center>
                            </div>
                            <!-- Doctors ends -->

                            <!-- Patients -->
                            <div class="tab-pane fade" id="patients">

                            </div>
                            <!-- Patients end -->
                        </div>
                        <!-- Clinic tab end -->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sidebar sidebar-right">
                    <h5 class="sidebar-title">About</h5>

                    <div class="panel-group" id="accordion-work2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#hours" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Hours
                                    </a>
                                </h4>
                            </div>
                            <div id="hours" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Monday: {{object.start_time_mon}} - {{object.end_time_mon}}</p>
                                    <p>Tuesday: {{object.start_time_tue}} - {{object.end_time_tue}}</p>
                                    <p>Wednesday: {{object.start_time_wed}} - {{object.end_time_wed}}</p>
                                    <p>Thursday: {{object.start_time_thurs}} - {{object.end_time_thurs}}</p>
                                    <p>Friday: {{object.start_time_fri}} - {{object.end_time_fri}}</p>
                                    <p>Saturday: {{object.start_time_sat}} - {{object.end_time_sat}}</p>
                                    <p>Sunday: {{object.start_time_sun}} - {{object.end_time_sun}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Address
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Address: {{object.address}},</p>
                                    <p>City: {{object.city}}</p>
                                    <p>Postal Code: {{object.postal_code}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work" href="#collapseBest" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Contact
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBest" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Phone: {{object.phone}}</p>
                                    <p>Email: {{object.user.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Clinic Profile -->

{% endblock content %}