{% extends "base.html" %}

{% load static %}
{% load has_group %}

{% block content %}

<!-- Clinic Profile-->
<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Clinic Profile</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                {% include "users/profile_base.html" with object=object %}

                {% if authorized %}

                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <br>
                        <br>

                        <!-- Clinic tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#doctors" role="tab" data-toggle="tab">Doctors</a></li>
                            <li><a href="#patients" role="tab" data-toggle="tab">Current Patients</a></li>
                        </ul>

                        <div class="tab-content">
                            <!-- Doctors -->
                            <div class="tab-pane fade in active" id="doctors">
                                <ul class="media-list">
                                    {% for doctor in clinic.doctor_set.all %}

                                        <li class="media list-group-item">
                                            <a href="{% url 'users:doctor_profile' doctor.user.pk %}">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <figure class="pull-left">
                                                            {% if doctor.user.image %}
                                                                <img class="media-object img-circle" src="{{doctor.user.image.url}}" alt="//">
                                                            {% else %}
                                                                <img class="media-object img-circle" src="{% static 'img/doctor-profile-img.png' %}" alt="//">
                                                            {% endif %}
                                                        </figure>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <h6>Name</h6>
                                                        <p>{{doctor.user}}</p>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <h6>Specialty</h6>
                                                        <p>{{doctor.specialty}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <center><a href="{% url 'medical_appointments:add_doctor' object.pk %}" class="btn btn-default btn-color-bg-dark-icon"><span>Add Doctor</span></a></center>
                            </div>
                            <!-- Doctors ends -->

                            <!-- Patients -->
                            <div class="tab-pane fade" id="patients">
                                <ul class="media-list">
                                    {% if patients %}
                                        {% for patient in patients %}
                                            <li class="media list-group-item">
                                                <a href="{% url 'users:patient_profile' patient.user.pk %}">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <figure class="pull-left">
                                                            {% if patient.user.image %}
                                                                <img class="media-object img-circle" src="{{patient.user.image.url}}" alt="//">
                                                            {% else %}
                                                                <img class="media-object img-circle" src="{% static 'img/profile-img.png' %}" alt="//">
                                                            {% endif %}
                                                        </figure>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <h6>Name</h6>
                                                        <p>{{patient.user}}</p>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <h6>Phone</h6>
                                                        <p>{{patient.user.contact}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <p>Currently there is no patient assigned.</p>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Patients end -->
                        </div>
                        <!-- Clinic tab end -->
                    </div>
                </div>

                {% endif %}
            </div>
            <div class="col-sm-3">
                <div class="sidebar sidebar-right">
                    <h5 class="sidebar-title">About</h5>

                    <div class="panel-group" id="accordion-work2">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#hours" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Hours
                                    </a>
                                </h4>
                            </div>
                            <div id="hours" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p><span class="day">Mon</span>: {{clinic.start_time_mon}} - {{clinic.end_time_mon}}</p>
                                    <p><span class="day">Tues</span>: {{clinic.start_time_tue}} - {{clinic.end_time_tue}}</p>
                                    <p><span class="day">Wed</span>: {{clinic.start_time_wed}} - {{clinic.end_time_wed}}</p>
                                    <p><span class="day">Thurs</span>: {{clinic.start_time_thurs}} - {{clinic.end_time_thurs}}</p>
                                    <p><span class="day">Fri</span>: {{clinic.start_time_fri}} - {{clinic.end_time_fri}}</p>
                                    <p><span class="day">Sat</span>: {{clinic.start_time_sat}} - {{clinic.end_time_sat}}</p>
                                    <p><span class="day">Sun</span>: {{clinic.start_time_sun}} - {{clinic.end_time_sun}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
                                        <i class="fa fa-plus-square"></i>Address
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Address: {{clinic.address}},</p>
                                    <p>City: {{clinic.city}}</p>
                                    <p>Postal Code: {{clinic.postal_code}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Clinic Profile -->

{% endblock content %}