{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Page Titles -->
<div class="page-title">
    <div class="container">
        <h1>Create Clinic</h1>
    </div>
</div>
<!-- End Page Titles -->

<section class="profile-doctor generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>General Info</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form id="request" action="{{request.path}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <figure>
                            <img id="preview" src="{% static 'img/clinic.png' %}" class="img-responsive" alt="">
                        </figure>
                        {{forms.user_signup.image}}
                    </div>
                    <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% for error in forms.user_signup.email.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="" class="sr-only">Email</label>
                                        {{forms.user_signup.email}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% for error in forms.clinic_signup.name.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="name" class="sr-only">Name</label>
                                        {{forms.clinic_signup.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in forms.user_signup.password1.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="" class="sr-only">Password</label>
                                        {{forms.user_signup.password1}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in forms.user_signup.password2.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="" class="sr-only">Confirm Password</label>
                                        {{forms.user_signup.password2}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in forms.clinic_signup.phone.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="phone" class="sr-only">Phone number</label>
                                        {{forms.clinic_signup.phone}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {% for error in forms.clinic_signup.description.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="description" class="sr-only">Description</label>
                                        <i class="glyphicon glyphicon-pencil">{{forms.clinic_signup.description}}</i>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="section-title">
                                        <h3>Address </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{forms.clinic_signup.address.error}}
                                        {{forms.clinic_signup.address.errors}}
                                        {% for error in forms.clinic_signup.address.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="address1" class="sr-only">Address 1</label>
                                        {{forms.clinic_signup.address}}
                                    </div>
                                    <div class="form-group">
                                        {% for error in forms.clinic_signup.city.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="postal" class="sr-only">City</label>
                                        {{forms.clinic_signup.city}}
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% for error in forms.clinic_signup.postal_code.errors %}
                                          <span class="errorlist">{{error}}</span>
                                        {% endfor %}
                                        <label for="postal" class="sr-only">Postal Code</label>
                                        {{forms.clinic_signup.postal_code}}
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="section-title">
                                        <h3>Hours</h3>
                                    </div>
                                </div>
                            </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>Mon</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_mon}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_mon}}
                                                </div>
                                            </div>
                                        </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>TUES</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_tue}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_tue}}
                                                </div>
                                            </div>
                                        </div>
							<div class="row">
                                            <div class="col-sm-2"><h6>WED</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_wed}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_wed}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>THURS</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_thurs}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_thurs}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>FRI</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_fri}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_fri}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>SAT</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_sat}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_sat}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><h6>SUN</h6></div>
                                            <div class="col-sm-5 col-xs-6">
                                                <div class="form-group">
                                                    {% for error in forms.clinic_signup.start_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                    {{forms.clinic_signup.start_time_sun}}
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-6">
                                                {% for error in forms.clinic_signup.end_time.errors %}
                                                      <span class="errorlist">{{error}}</span>
                                                    {% endfor %}
                                                <div class="form-group">
                                                    {{forms.clinic_signup.end_time_sun}}
                                                </div>
                                            </div>
                                        </div>
                                        {{forms.clinic_signup.non_field_errors}}

                            <br><hr><br>
                            <input type="submit" class="btn btn-default btn-color-border-solid" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block javascript %}

{{block.super}}

<script>
    $("#id_image").addClass('file-loading');
    $("#id_image").fileinput({
        browseClass: "btn btn-default btn-color-bg btn-no-radius",
        browseLabel: "Change Photo",
        showPreview: false,
        showCaption: false,
        showUpload: false,
        showUploadedThumbs: false
    });
    $('#id_image').on('fileloaded', function(event, file, previewId, index, reader) {
        $('#preview').attr('src', URL.createObjectURL(file));
    });
    $('#id_image').on('fileclear', function(event) {
        console.log('remove');
        $('#preview').attr('src', "{% static 'img/profile-img.png' %}");
    });
</script>

{% endblock javascript %}