{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<section id="specialty-section" class="gallery generic animated fadeInUp undefined visible">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Tell Us What You Need</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="filters specialty-filters">
                    {% for specialty in object_list %}
                        <li><a href="#" class="featured-item ct-icon specialty-btn">
                            <figure>
                                <img class="img-responsive" src="{% static 'img/features/featured-2.jpg' %}" alt="//">
                                <div class="icon-image"><span class="glyphicon glyphicon-picture"></span></div>
                            </figure>
                            <div class="content text-center">
                                <h4>{{specialty}}</h4>
                            </div>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- Gallery -->
<section id="location-section" class="gallery generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-default btn-color-bg back-btn"><span>Back</span></a>
            </div>
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Choose the location you want</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="city_filter" class="filters">
                    <li><a href="#" id="show_all" class="btn btn-color-border-solid-3 active" data-filter="*">Show All</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="clinics" class="gallery-grid">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Gallery -->
{% endblock content %}

{% block javascript %}
{{block.super}}
<script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
<script>
$(function() {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var filterHTML = '<li><a href="#" class="btn btn-color-border-solid-3 added-filter" data-filter=""></a></li>';
    var addFilterItem = function(city) {
        var $filterItem = $(filterHTML);
        var $filterLink = $filterItem.find('a');
        $filterLink.attr('data-filter', '.' + city);
        $filterLink.text(city);
        $('#city_filter').append($filterItem);
    };

    var img = "{% static 'img/clinic.png' %}";
    var clinicHTML = '<div class="gallery-grid-item">' +
                        '<figure class="effect-chico">' +
                            '<img src="'+ img + '" alt="">' +
                            '<figcaption>' +
                            '<h4></h4>' +
                            '<p>Health Care</p>' +
                            '<a href="#"></a>' +
                            '</figcaption>' +
                        '</figure>' +
                    '</div>';
    var addClinic = function(clinic, specialty) {
        var $clinicItem = $(clinicHTML);
        $clinicItem.attr('class', $clinicItem.attr('class') + ' ' + clinic.fields.city);
        $clinicItem.find('h4').text(clinic.pk);
        var url = Urls['medical_appointments:timetable_patient'](encodeURIComponent(clinic.pk).replace(/%20/g, '+'));
        url = url + '/' + encodeURIComponent(specialty).replace(/%20/g, '+') + '/';
        var $a = $clinicItem.find('a');
        $a.attr('href', url);
        $('#clinics').isotope('insert', $clinicItem);
    };

    var $container = $('.gallery-grid');

    $('.specialty-btn').click(function() {
        var specialty = $(this).find('h4').text();
        $.ajax({
            type:"GET",
            url:"{% url 'medical_appointments:get_clinics' %}",
            data: {
                specialty: specialty
            },
            success: function(data){
                var cities = [];
                data.forEach(function(clinic) {
                    addClinic(clinic, specialty);
                    var city = clinic.fields.city;
                    if ($.inArray(city, cities) === -1) {
                        cities.push(city);
                    }
                });
                cities.forEach(function(city) {
                    addFilterItem(city);
                });

                // cache container
                $container.isotope({ });
                // filter items when filter link is clicked
                $('.filters a').click(function(){
                    $('.filters a').removeClass('active');
                    $(this).addClass('active');

                    var selector = $(this).attr('data-filter');
                    $container.isotope({ filter: selector });
                    return false;
                });

                $('#specialty-section').hide();

                $('#location-section').show();

                $('#show_all').click();

                $('.gallery-grid.isotope').css('height', '297px');
            }
        });
    });

    $('.back-btn').click(function() {
        $('#clinics').empty();
        $container.isotope('destroy');
        $('.added-filter').remove();

        $('#specialty-section').show();
        $('#location-section').hide();
    });
});
</script>

{% endblock javascript %}