{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<section id="specialty-section" class="gallery generic animated fadeInUp undefined visible">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Tell Us What You Need</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="filters">
                    {% for specialty in object_list %}
                        <li><a href="#" class="btn btn-color-border-solid-3 specialty-btn">{{specialty}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- Gallery -->
<section id="location-section" class="gallery generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Choose the location you want</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="city_filter" class="filters">
                    <li><a href="#" id="show_all" class="btn btn-color-border-solid-3 active" data-filter="*">Show All</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="clinics" class="gallery-grid">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Gallery -->

<p>After they choose a clinic, you should take them to timetable.html</p>

{% endblock content %}

{% block javascript %}

<script>
    var url = "{% url 'medical_appointments:get_clinics' %}";
    var img = "{% static 'img/gallery/gallery-1.jpg' %}";
</script>

{{block.super}}
<script src="{% static 'js/app.js' %}"></script>

{% endblock javascript %}