{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Timetable -->
<section class="timetable generic animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Your Schedule</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="timetable-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="blue-extralight">Time</th>
                                <th class="blue-light">Monday</th>
                                <th class="blue-dark">Tuesday</th>
                                <th class="blue-light">Wednesday</th>
                                <th class="blue-dark">Thursday</th>
                                <th class="blue-light">Friday</th>
                                <th class="blue-dark">Saturday</th>
                                <th class="blue-light">Sunday</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>06:00-07:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">Marge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                        </tr>
                        <tr>
                            <th>08:00-09:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                        </tr>
                        <tr>
                            <th>09:00-17:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td><td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td><td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                        </tr>
                        <tr>
                            <th>09:00-07:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                                                        </tr>
                        <tr>
                            <th>08:00-09:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                        </tr>
                        <tr>
                            <th>09:00-17:00 AM</th>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a class="ct-orange" href="#" title="You're off duty during this time."></a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                            <td><a href="#">MArge.M</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Timetable -->

{% endblock content %}